.messageBox
{
    min-width:300px;
    max-width:fit-content;
    height:100px;
    background-color: rgb(16, 154, 16);
    color:white;
    position: fixed;
    top:0px;
    z-index: 100;
    left:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.messageBox p
{
    width:100%;
    text-align: center;
    margin-top: 40px;
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
}
@media screen and (max-width:760px) {

    .messageBox p
    {
        font-size: 1.2rem;
        font-weight: normal;
    }
    
}