.article
{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    font-weight: bold;
    font-size: 1.6rem;
    border-right: 20px solid black;
}
.article:hover
{
    cursor: pointer;
    transform: scale(1.2,1.2);
    transition: transform 1s;
}

@media screen and (max-width:766px) {
    .article
    {
        font-size: 1.4rem;
    }
    
}