.readingRoomsContainer
{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:20px;
    align-items: center;
    // background: linear-gradient(0deg, rgb(134, 167, 134) 0%, rgba(0,13,60,1) 100%)
    background-color: rgb(221, 212, 201);
}



.readingRooms
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px
}

@media screen and (max-width:900px)
{
    .head
    {
        font-size: 2.5rem !important;
        padding:10px
    }
}