<section>
  <h3 class="bookHead">{{translateService.currentLang == "ar" ? learningResource.nameAr : learningResource.nameEn}}</h3>
  <div *ngIf="!readingStarted" #cover class="cover"  (click)="openBook()">
    <img [src]="learningResource.coverUrl" *ngIf="learningResource.coverUrl" />
    <div class="replaceImage" *ngIf="!learningResource.coverUrl"></div>
  </div>

  <button *ngIf="readingStarted" class="end-reading-button btn" (click)="endRead()"> {{'End Reading'| translate}}</button>
  <div class="pdf-container">

  
  <!--
  <div class="pdf-controls">
    <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
    <span>Page {{page}} / {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
  </div>
  -->
<div *ngIf="readingStarted" id="outerContainer">
  <div class="pdf-container">
    <pdf-viewer
      [src]="pdfSrc"
      [rotation]="0"
      [original-size]="true"
      [show-all]="true"
      [fit-to-page]="true"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="true"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 100%; height: 600px;"
    ></pdf-viewer>
  </div>
</div>
</div>
</section>
