<section class = "assessments-list">
  <div class="filter-controls-container">
  <input
    type="text"
    placeholder="Search by assessment name..."
    [value]="searchTerm"
    (input)="updateSearch($event)"
    class="filter-input search-input"
  />

  <select
    (change)="updateSubjectFilter($event)"
    class="filter-input select-input"
    [value]="selectedSubjectId"
  >
    <option value="">{{'All Subjects' | translate}}</option>
    <option *ngFor="let subject of learningSubjectsIds" [value]="subject.id">
      {{ subject.name }}
    </option>
  </select>

  <select
    (change)="updateAssessmentTypeFilter($event)"
    class="filter-input select-input"
  >
    <option value="">{{'All Assessment Types' |translate}} </option>
    <option
      *ngFor="let typeName of assessmentTypeNames"
      [value]="typeName"
      [selected]="selectedAssessmentType !== null && getAssessmentTypeName(selectedAssessmentType) === typeName"
    >
      {{ typeName }}
    </option>
  </select>

  <button (click)="resetFilters()" class="reset-button">
      {{'Reset Filters'| translate}}
  </button>
</div>

<!-- when rendering categories, show the string name, not numeric -->
<section *ngFor="let category of categorizedAssessments" class="assessment-section">
  <h2 class="category-title">
    {{ getAssessmentTypeName(category.type) }} {{'Assessments' | translate }}
    <span class="category-count">({{ category.assessments.length }} {{'available'| translate}})</span>
  </h2>

  <div class="card-grid">
    <app-assessment-card
      *ngFor="let assessment of category.assessments"
      [assessment]="assessment"
      (takeClicked)="takeAssessment($event)"
    >
    </app-assessment-card>
  </div>
</section>
</section>

