nav
{
    margin: 0px !important;
    background-color: rgb(81, 71, 107) !important;
    position:fixed;
    z-index:10;
    width:100%;
}

ul li
{
    font-size: 1.7rem;
    margin-left: 10px;
} 
button span
{
   background-color: rgb(255, 255, 255);
}
.navbar-brand 
{
    font-size: 2.5rem;
    color:rgb(15, 11, 54);
    font-weight: bold;
    margin-left: 20px;
}
ul li a , ul li span
{
    font-weight: bolder !important;
}
.whiteText
{
    color:rgb(245, 245, 247) !important;

}
.blackText
{
    color:black
}

ul li  :hover ,ul li:checked
{
    color:black !important;

}
.active
{
    color: black !important;
}
@media screen and (max-width:1100px)
{
    .nav li
    {
        margin:0px;
        font-size: 1.4rem
    }
}
@media screen and (max-width:900px) and (min-width:760px)
{
 nav ul a
 {
    padding:5px
 }
 

}

@media screen and (max-width:765px) {
    nav
    {
        position: fixed;
        width:fit-content
    }

    .navbar-toggle
    {
        margin: 0px ;
        padding:0px ;
        
    }
    .navbar
    {
        min-height: fit-content;
    }


    
}



