<nav class="navbar   navbar-expand-lg navbar-light bg-light ">
  <div class=" navContainer  container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left" >     
          <li  class="active"><a class="whiteText" href="#"> الصفحه الرئيسيه</a></li>
          <!-- <li class="ml-auto"><a href="#">الغرف الذكيه</a></li> -->
          <li><a [routerLink]="['/placementTest']" routerLinkActive="router-link-active"  class="whiteText">اختبار تحديد المستوى</a></li>
          <li><a href="#" class="whiteText">اكثر الغرف استخداما</a></li>
        </ul>
       <!--- <a class="navbar-brand" href="#">عادات القراءة لدى طلاب المدارس</a> -->
        <!-- class="nav navbar-navt" -->       
        <ul class="nav userNav  navbar-nav navbar-right" >
          <li class="st"><a class="whiteText" href="#" class="whiteText" ><span class="glyphicon glyphicon-user"></span>{{FullName}}</a></li>
          <li class="sed">
            <a  (click)="login()" class="whiteText" routerLinkActive="router-link-active" *ngIf="loginButton"  > تسجيل دخول</a>
            <a class="whiteText" routerLinkActive="router-link-active" (click)="logout()"  *ngIf="logoutButton" ><span class="glyphicon glyphicon-log-in"></span>تسجيل خروج </a>
          </li>
        </ul>
      </div>
  </div>
</nav> 







