.readingRoom
{
    width:100%;
    margin:0px;
   // background: linear-gradient(to  left bottom , rgb(46, 59, 57),rgb(186, 239, 241),rgb(242, 247, 246));
   //background-color: rgb(196, 187, 218) !important;;
   color:black;
    height: 100% !important;
}

.headRoom
{
    background-color: rgb(46, 2, 71);
    width:100%;
    z-index: 2;
    position: fixed;
    top:50px;
    padding-top: 20px;

}
.roomNavbar
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-inline:20px;
    padding-block:10px;
    margin-top:15px;
}
.contentButtons
{
    display: flex;
    gap:30px
}

.head
{
    width:100%;
    text-align: center;
    margin:auto;
    color:white
}
.roomContent
{
    width:100%;
    display:flex;
    flex-direction: column;
    border-top: solid rgb(32, 96, 112) 10px !important;
    min-height:500px;
    margin-top:100px;
    align-items: center;
    padding:20px

}


.material
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    width:100%
    
}


@keyframes rotateOnXY
{
    0%
    {
        transform: rotateX(0deg)
    }
  10%,50%
    {
        transform:rotatex(360deg)
    
    }
    60%
    {
        transform: rotateY((0deg));

    }
    70%,100%
    {
        transform: rotateY(360deg);
    }

    
  
}
.rotateOnXY
{
    animation: rotateOnXY 10s infinite linear

}


.contentButtons button
{
    background-color: aliceblue;
    padding-inline: 15px;
    padding-block:5px;
    font-weight: bold;
    font-size: 1.7rem;
}
.navContainer
{
    width:100%;
}



.btnNav
{
    display:none;
    margin:auto
}
input[type=search]
{
    height:40px;
    width:250px;
    text-align: center;
    font-size: 1.5rem;
}



@media screen and (max-width:766px)
{

    .headRoom
    {
        top:0px;
    }
    .roomNavbar
    {
        flex-direction: column;
        gap:10px;
        margin-top: 5px;
    }

    .roomContent
    {
        flex-direction: column;
        border-top: none !important;
        padding-inline:0px;
        margin-top: 140px;
    }
    .btnNav
    {
        display:block
    }

    .contentButtons
    {
        gap:5px
    }
    .contentButtons button
    {
        padding-block: 5px;
        padding-inline: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        width:100px
    }

    .books
    {
        justify-content: space-between;
        gap:10px;
        justify-content: center;
    }
}



// .left
// {
//     width:25%;
//     border-right:solid rgb(32, 96, 112) 10px !important;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     overflow:auto;

// }
// .left button
// {
//     background-color: rgb(9, 54, 59);
//     color: white;
//     font-weight: bold;
//     padding-block: 10px;
//     padding-inline: 20px;
//     font-size: 1.7rem;
// }
// .dropdown-menu
// {
//     background-color: rgb(65, 119, 119);
//     font-size: 1.7rem;
//     color:white !important;
//     min-width:200px;
// }
// .dropdown-menu li a
// {
//     color:white !important
// }
// .dropdown-menu li  :hover
// {
//     background-color: rgb(22, 44, 48) !important;
// }


// .right
// {
//     width:75%
// }