<section class="readingRoom container">
    <h1 class="head">{{readingRoom.name}}</h1>
    <div class="content">
        <div class="left">
            <div class="dropdown articles">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">المقالات
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li  *ngFor="let article of readingRoom.articles"><a [routerLink]="['/article',article.id]" routerLinkActive="router-link-active" >{{article.name}}</a></li>
                </ul>
              </div>
              <div class="dropdown exams">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">الامتحانات
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let article of readingRoom.articles"><a [routerLink]="['/article',article.id]" routerLinkActive="router-link-active" >{{article.name}}</a></li>
                </ul>
              </div>
        </div>
        <div class="right">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
            </div>
            <h2>الكتب</h2>
            <div class="books">
                <app-book-card  [width]="bookCardWidth" [height]="bookCardHeight" [book]="book"  *ngFor="let book of readingRoom.books"></app-book-card>
            </div>
        </div>
    </div>

</section>
