main
{
   // background-color:#fff !important; ;
    background: linear-gradient(#F0F9FF, #E8F5FF, #BAE6FD);
   //background: linear-gradient(to bottom, #ccdbf0, #7fbce8, #c3e2f0);
 
   
   height: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 800px;
    width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1; /* This is the key. It makes the content container fill all available space. */
}
.outlet
{
    margin-top: 52px;
    flex-grow: 1; /* This is the key. It makes the content container fill all available space. */
    width: 100%
}

@media screen and (max-width:600px)
{
    .outlet
    {
        margin-top: 0px;
    }
}
