main
{
   // background-color:#fff !important; ;
    background: linear-gradient(#F0F9FF, #E8F5FF, #BAE6FD);
    height: 100%;
    display:flex;
    flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1; /* This is the key. It makes the content container fill all available space. */
}
.outlet
{
    margin-top: 52px;
      flex-grow: 1; /* This is the key. It makes the content container fill all available space. */

}

@media screen and (max-width:600px)
{
    .outlet
    {
        margin-top: 0px;
    }
}
