<article class="learning-material-card" role="article" aria-labelledby="course-title">
  <img 
    class="card-image"
    [src]="material?.coverUrl" 
    alt="" 
  />
  
  <div class="card-content">
    <header class="card-header">
      <h1 class="course-title" id="course-title">{{ displayedName }}</h1>
    </header>
    
    <div class="course-description-container">
      <p class="course-description">{{ displayedDescription }}</p>
    </div>
    
    <section class="teachers-info" aria-labelledby="teachers-heading">
      <h2 class="teachers-heading" id="teachers-heading">{{'Teachers' | translate}}</h2>
      <div class="teacher-profiles">
        <div 
          *ngFor="let teacher of material?.assignedTeachers?.slice(0, 3)"
          class="teacher-image" 
          [style.background-image]="'url(' + teacher.avatarUrl + ')'"
          role="img" 
          aria-label="Teacher profile image"
        >
        <span class = "teacherImageRepalcement">{{teacher.name.charAt(0).toLocaleUpperCase()}}</span>
      </div>

        
        <div class="teacher-stack" *ngIf="material.teachersCount > 3" > 
          <span class="additional-teachers-count">+{{ material.teachersCount - 3 }}</span>
        </div>
      </div>
    </section>
  </div>
  
  <div class="card-actions">
    <button class="btn btn-primary" type="button" aria-label="View course details" (click)="onViewDetails(material.id)">
       {{'Start Learning' | translate}}
    </button>
    <button class="btn btn-secondary" type="button" aria-label="View exams" (click)="onViewExams()">
      {{'Assessments' | translate}}
    </button>
  </div>
</article>