.book
{
    display:flex;
    flex-direction: column;
    border:solid black 2px;
    align-items: center;
    margin-bottom: 20px;
}
.rotateOnX
{
    animation: rotateOnX 5s infinite linear

}

@keyframes rotateOnX
{
    0%,50%{
        transform:rotatex(0deg)
    }
    
    100%{
        transform:rotatex(360deg)
    }
}

.bookName
{
    width:100%;
    border-bottom: solid blac 1px;
    text-align: center;
    height: 15%;
}
.footer
{
    width:100%;
    border-top: solid black 1px;
    height:15%;
    font-size: small;
    text-align: center;
}
.cover , .replaceCover
{
    width:100%;
    height:70%
}
.replaceCover
{
    background-color: rgb(235, 235, 235);
}
.book:hover
{
    transition: transform 1s;
    animation: none;
    transform:scale(1.2,1.2);
    cursor:pointer;
}

