.carousel-inner
{
    margin:auto
}
#myCarousel
{
    margin:auto !important
}
#carusalItems
{
    margin:auto !important
}
.item
{
    margin: auto !important;
}
.item img
{
    margin:auto;
    max-height: 550px;
}