<section class="book">
  <div #cover class="cover" *ngIf="displayedPage < 0"  (click)="overlapPage('cover',cover)">
    <img [src]="book.cover" ty/>
    fdfddf

  </div>
  <div  class="bookContent" *ngIf="displayedPage >= 0">
    <div #right class="rightPage"  (click)="overlapPage('left',right)">
      <p>{{bookPages[displayedPage]}}</p>
      <footer>{{displayedPage+1}}</footer>
    </div>
    <div  class="bookSlider"></div>
    <div #left class="leftPage"  (click)="overlapPage('right',left)">
      <p>{{bookPages[displayedPage+1]}}</p>
      <footer>{{displayedPage+2}}</footer>
    </div>

  </div>

</section>