<section class="book">
  <div #cover class="cover" *ngIf="rightPage < 0"  (click)="overlapPage('open',cover)">
    <img [src]="book.cover" />
    

  </div>

  <div  class="bookContent" *ngIf="rightPage >= 0">
    <div class="right"  (click)="overlapPage('left',rightFlipper)">
      <div #right class="rightPage"  *ngIf="!openBookAnimation">
        <p>{{bookPages[rightPage].content}}</p>
        <footer>{{rightPage+1}}</footer>
      </div>
      <div #rightFlipper class="rightFlipper"></div>
    </div>
    <div  class="bookSlider"></div>
    <div class="left"   (click)="overlapPage('right',leftFlipper)">
      <div #left class="leftPage" *ngIf="!openBookAnimation">
        <p *ngIf="leftPage <bookPages.length">{{bookPages[leftPage].content}}</p>
        <footer>{{leftPage+1}}</footer>
      </div>
      <div #leftFlipper class="leftFlipper"></div>
    </div>
  </div>
</section>









<!--
  <section class="book">
  <div #cover class="cover" *ngIf="displayedPage < 0"  (click)="overlapPage('cover',cover)">
    <img [src]="book.cover" ty/>
    fdfddf

  </div>
  <div  class="bookContent" *ngIf="displayedPage >= 0">
    <div #right class="rightPage"  (click)="overlapPage('left',right)">
      <p>{{bookPages[displayedPage]}}</p>
      <footer>{{displayedPage+1}}</footer>
    </div>
    <div  class="bookSlider"></div>
    <div #left class="leftPage"  (click)="overlapPage('right',left)">
      <p>{{bookPages[displayedPage+1]}}</p>
      <footer>{{displayedPage+2}}</footer>
    </div>

  </div>

</section>
-->