<div [class]="'assessment-card type-' + assessmentTypeClass">
  <!-- Header & Status -->
<div class="card-header">
  <h3 class="card-title">{{ assessment.name }}</h3>
  <label [class]="'status-badge status-' + AssessmentStatus[assessment.status]" class="cardLabel">
    {{ cardLabel | translate }}
  </label>
</div>

  <!-- Details -->
<div class="card-details">
    <div class="card-line">
    <div>
      <span class="detail-label">{{ 'Prepared By' | translate }}:</span>
      <span class="detail-value">{{ assessment.creator }}</span>
    </div>
    <div>
      <span class="detail-label">{{ 'Questions Count' | translate }}:</span>
      <span class="detail-value">{{ assessment.questionsCount }}</span>
    </div>
  </div>
  <div class="card-line">
    <div>
      <span class="detail-label">{{ 'Subject' | translate }}:</span>
      <span class="detail-value">{{ displayedSubjectName }}</span>
    </div>
    <div>
      <span class="detail-label">{{ 'Grade' | translate }}:</span>
      <span class="detail-value">{{ assessment.gradeName }}</span>
    </div>
  </div>

  <div class="card-line">
    <div>
      <span class="detail-label">{{ 'Duration' | translate }}:</span>
      <span class="detail-value">{{ assessment.durationInMinutes }} {{ 'Minutes' | translate }}</span>
    </div>
    <div>
      <span class="detail-label">{{ 'Assessment Type' | translate }}:</span>
      <span class="detail-value">{{ getAssessmentTypeName(assessment.type) }}</span>
    </div>
  </div>
</div>

  <!-- Actions -->
  <button
    *ngIf="assessment.status === AssessmentStatus.Published"
    (click)="handleAssessmentCardButtonClick()"
    class="take-button published-btn"
    title="Start Assessment ID: {{ assessment.id }}"
  >
    {{ buttonText | translate}}
  </button>

  <!--
  <button disabled
    *ngIf="assessment.status === AssessmentStatus.New"
    class="take-button coming-soon-btn"
  >
    {{'Coming Soon' | translate}}
  </button>
  -->
  
<!--
  <div *ngIf="assessment.status === AssessmentStatus.Finished"
    class="take-button finished-label"
  >
    {{'Finished' | translate}}
  </div>
  -->
</div>
