/* You can add global styles to this file, and also import other style files */

body
{
    height: 100%;
    width:100%
}
button:hover, input[type=submit]:hover
{
    color:white !important;
    background-color: rgb(0, 77, 128) !important;
}


.titleHead
{
    text-align: center;
    font-weight: bold;
    font-size: 3rem !important;
    background-color: rgb(245, 253, 255);
    color:black;
    padding: 20px;
    border-radius: 20%
}
