<section  (click)="navigateTOReadingRoom(readingRoomCard.id)" (mouseover)="overlayStyle(overlay)" (mouseleave)="removeOverlay(overlay)" id="room" class="readingRoom">
    <div id="overlay"  #overlay> </div>
    <h2 class="head">{{readingRoomCard.name}}</h2>
    <div class="books">
        <app-book-card *ngFor="let book of readingRoomCard.displayedBooks" [book]="book"></app-book-card>
    </div>
    <div class="articles">
        <app-article-card *ngFor="let article of readingRoomCard.displayedArticles" [article]="article"></app-article-card>
    </div>
    <footer>
        <em>عدد الكتب: {{readingRoomCard.booksNumber}}</em>
        <em>عدد المقالات : {{readingRoomCard.articlesNumber}}</em>
    </footer>
</section>