.home
{
    //  background: linear-gradient(to  left bottom , rgba(3, 1, 27, 1), rgba(14, 9, 34, 1), rgba(51, 48, 63, 0.2),rgba(69, 69, 75, 0.5));
  background: linear-gradient(to  left bottom , rgb(46, 59, 57),rgb(186, 239, 241),rgb(242, 247, 246));
 
  width:92%;
    margin:auto;
    color:white


}