footer
{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    background-color: rgb(52, 47, 63) !important;;
    background-image: url(../../../assets/images/footer/footerBackground.jpg);
    z-index: -1;
    margin-top: 1px;
    color:white;
    margin: auto;
    bottom:0px;
    z-index:10
}
.contactInfo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%

}
.contactInfo img
{
    border-radius: 50%;
    width: 50px;
    height:50px;
    transition: transform 1s;
}
.contactInfo img:hover
{
    cursor: pointer;
    transform: scale(1.5,1.5);
    box-shadow: 2px 2px 2px white;
}
.header
{
    margin-top: 20px;
}
.header p
{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    width:100%
}
@media screen and (max-width:600px)
{
    .contactInfo
    {
        width:100%;
    }
    .contactInfo img
    {
        width:40px;
        height: 40px;
    }
}
