<footer>
    <div class="header">
        <p>معلومات التواصل</p>
        <p>contact us</p>
    </div>
 
    <div class="contactInfo">
        <a href="https://www.facebook.com" target="_blank"><img src="./assets/images/footer/facebook.jpg"/></a>
        <a href="https://www.whatsapp.com/" target="_blank" ><img src="./assets/images/footer/whatsapp.jpg"/></a>
        <a href="https://www.twitter.com/" target="_blank"><img src="./assets/images/footer/twitter.jpg"/></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/footer/instagram.jpg"/></a>
        <a href="https://www.phone.com/" target="_blank"><img src="./assets/images/footer/phone.jpg"></a>
        <a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/footer/youtube.jpg"></a>
        <a href="https://www.telegram.com/" target="_blank"><img src="./assets/images/footer/telegram.jpg"></a>
    </div>
    <div class="copyRight">
        &copy; this content is saved under copy right
    </div>
</footer>